@import "normalize";
@import "layout";
@import "slick";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:400,900|Open+Sans:700');


$primary-color: #ffcc00;
$secondary-color: #666666;
$reverse-color: #ffffff;
$text-color: #333333;
$body-font: 'Raleway', sans-serif;
$header-font: 'Roboto', sans-serif;
$btn-font: 'Open Sans', sans-serif;

body {
	font: 500 14px/1.7 $body-font;
	color: $text-color;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */

h1, h2, h3 ,h4 ,h5 ,h6 {
	margin: 0;
}


a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	font-family: $btn-font;
	color: $secondary-color;
	height: 24px;
	line-height: 24px;
	padding: 0 11px;
	border: 1px solid $primary-color;
	text-decoration: none;
	text-transform: uppercase;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-team {
	padding: 110px 0;
	&__suptitle {
		font: 500 18px/1 $body-font;
		color: #898f8f;
		text-align: center;
		letter-spacing: 0.02em;
		margin: 0 0 10px;
	}
	&__title {
		font: 900 60px/1 $header-font;
		color: $primary-color;
		text-align: center;
		margin: 0 0 48px;
		text-transform: uppercase;	
		position: relative;

		&:after {
			content: "";
			display: block;
			max-width: 450px;
			margin: 50px auto 0;
			height: 1px;
			background: $primary-color;
		}
	}
	&__title-icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		fill: $primary-color;
		transform: translate(-50%,50%);	
		background: #FFF;
		box-shadow: 0 0 0 5px #FFF;
	}
}

.ba-crewman {
	display: flex;

	&__image-col {
		flex-basis: 50%;
		border-right: 1px solid $primary-color;
		padding: 76px 80px 76px 68px;
		display: flex;
		justify-content: center;
	}
	&__content-col {
		flex-basis: 50%;
		padding: 0 68px 0 80px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__image {
		padding: 15px;
		border: 1px solid $primary-color;
		position: relative;
		
		&:before, &:after {
			content: "";
			background: #FFF;
			position: absolute;
			z-index: 0;
		}

		&:before {
			left: 25%;
			right: 25%;
			top: -2px;
			bottom: -2px;
		}
		&:after {
			top: 25%;
			bottom: 25%;
			left: -2px;
			right: -2px;
		}

		
		img {
			display: block;
			border: inherit;
			position: relative;
			z-index: 1;
		}
	}
	&__name {
		font: 900 36px/1 $header-font;
		color: $secondary-color;
		padding-bottom: 65px;
		position: relative;
		&:after{
			content: "";
			display: block;
			position: absolute;
			width: 100px;
			border: 1px solid $primary-color;
			left: 50%;
			margin-left: -50px;
			bottom: 40%;
		}
	}
	&__position{
		font: 400 24px/1 $body-font;
		color: $secondary-color;
		padding-bottom: 30px;
	}
	&__content {
		position: relative;

		p {
			margin: 0;
			padding-bottom: 50px;
		}
		&:after{
			content: "";
			position: absolute;
			background: linear-gradient(to right, #ffcc00 0%,#febf01 15%,#ffffff 15%,#ffffff 25%,#ffcc00 25%,#ffcc00 25%,#ffcc00 75%,#ffcc00 75%,#ffffff 75%,#ffffff 85%,#ffcc00 85%,#ffcc00 100%);
			width: 50px;
			height: 4px;
			transform: translate(-25px,-25px);
		}
	}
}

.ba-socials {
	padding-bottom: 30px;
	
	.hvr-pulse {
		color: #ccc;
		display: inline-block;
		border-radius: 50%; 
		border: 2px solid currentColor;
		width: 30px;
		height: 30px;
		padding: 5px;
		vertical-align: middle;
		transform: perspective(1px) translateZ(0);
  		box-shadow: 0 0 1px transparent;
		
		&:hover, &:focus, &:active{
			color: $primary-color;
			animation-name: hvr-pulse;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		
		svg {
			fill: currentColor;
			width: 100%;
			height: 100%;
		}
	}
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

.hvr-sweep-to-right{
	align-self: center;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;
	
	&:before{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $primary-color;
		transform: scaleX(0);
		transform-origin: 0 50%;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}
	&:hover,&:focus,&:active{
		color: $reverse-color;
		
		&:before{
			transform: scaleX(1);
		}
	}
}

.slick-arrow{
	border: none;
	background: none;
	border-radius: 0;
	padding: 0;

	position: absolute;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	top: 50%;
	margin-top: -21px;
	outline: none;
	color: $primary-color;
	&:hover{
		color: lighten($primary-color, 30%);
	}
	svg{
		display: block;
		height: 42px;
		width: 20px;
		fill: currentColor;
	}	
}

.ba-slider-prev{
	left: 0;
}

.ba-slider-next{
	right: 0;
}

.ba-slide{
	&:focus{
		outline: none;
	}
}

.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	li{
		display: inline-block;
		margin: 0 5px;
	}

	button{
		border: none;
		background: transparent;
		display: block;
		width: 10px;
		height: 10px;
		background-color: $primary-color;
		border: 1px solid $primary-color;
		padding: 0;
		border-radius: 50%;
		outline: none;
		line-height: 0;
		font-size: 0;
		color: transparent;
		cursor: pointer;
	}

	.slick-active{
		button{
			background: transparent;
		}
	}
}