@import "normalize";
@import "layout";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:400,900|Open+Sans:700');


$primary-color: #ffcc00;
$secondary-color: #666666;
$reverse-color: #ffffff;
$text-color: #333333;
$body-font: 'Raleway', sans-serif;
$header-font: 'Roboto', sans-serif;
$btn-font: 'Open Sans', sans-serif;

body {
	font: 500 14px/1.7 $body-font;
	color: $text-color;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	font-family: $btn-font;
	color: $secondary-color;
	height: 24px;
	line-height: 24px;
	padding: 0 11px;
	border: 1px solid $primary-color;
	text-decoration: none;
	text-transform: uppercase;

	
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-team {
	padding: 110px 0;
	&__suptitle {
		font: 500 18px/1 $body-font;
		color: #898f8f;
		text-align: center;
		letter-spacing: 0.02em;
		margin: 0 0 10px;
	}
	&__title {
		font: 900 60px/1 $header-font;
		color: $primary-color;
		text-align: center;
		margin: 0 0 48px;
		text-transform: uppercase;	
		position: relative;

		&:after {
			content: "";
			display: block;
			max-width: 450px;
			margin: 50px auto 0;
			height: 1px;
			background: $primary-color;
		}
	}
	&__title-icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		fill: $primary-color;
		transform: translate(-50%,50%);	
		background: #FFF;
		box-shadow: 0 0 0 5px #FFF;
	}
}

.ba-crewman {
	display: flex;

	&__image-col {
		flex-basis: 50%;
		border-right: 1px solid $primary-color;
		padding: 76px 80px 76px 68px;
		display: flex;
		justify-content: center;
	}
	&__content-col {
		flex-basis: 50%;
		padding: 0 68px 0 80px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__image {
		padding: 15px;
		border: 1px solid $primary-color;
		position: relative;
		
		&:before, &:after {
			content: "";
			background: #FFF;
			position: absolute;
			z-index: 0;
		}

		&:before {
			left: 25%;
			right: 25%;
			top: -2px;
			bottom: -2px;
		}
		&:after {
			top: 25%;
			bottom: 25%;
			left: -2px;
			right: -2px;
		}

		
		img {
			display: block;
			border: inherit;
			position: relative;
			z-index: 1;
		}
	}
	&__name {
		font: 900 36px/1 $header-font;
		color: $secondary-color;
	}
	&__position{
		font: 400 24px/1 $body-font;
		color: $secondary-color;
	}
	&__content {

		p {
			
		}
	}
}

.ba-socials {
	a {
		color: #ccc;
		display: inline-block;
		border-radius: 50%; 
		border: 2px solid currentColor;
		width: 30px;
		height: 30px;
		padding: 5px;
		
		&:hover{
			color: $primary-color;
		}
		
		svg {
			fill: currentColor;
			width: 100%;
			height: 100%;
		}
	}
}






/* .brrr{
	background-color: $primary-color;
	@include filter-gradient($primary-color, $primary-color, horizontal);
	@include background-image(linear-gradient(left, $primary-color 0%,$primary-color 15%,$reverse-color 15%,$reverse-color 25%,$primary-color 25%,$primary-color 25%,$primary-color 75%,$primary-color 75%,$reverse-color 75%,$reverse-color 85%,$primary-color 85%,$primary-color 100%));
	}  */
	










